.grid {
  border: 3px solid black;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0 auto;
}
.pixel {
  width: 2.5%;
  height: 2.5%;
  box-sizing: border-box;
}
.colorhistory {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.pixelHistory {
  width: 30px;
  height: 30px;
  border: 1px solid;
  margin-right: 2px;
}

.tools-Container{
  display:flex
}
.mg-10{
  margin:10px;
}